.background {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F8EDE3;
}

.main {
  text-align: center;
  width: 50%;
  padding: 40px;
  background-color: #FFD4B2;
  border-radius: 20px;
}

.dice-result{
  font-size: x-large;
}

.roll-result {
font-weight: 700;
}

.roll-button{
  margin-top: 15px;
}

.highlight-green {
  color: green;
}

.highlight-red {
  color: red;
}

label {
  margin-right: 10px;
}